/* body, html {
  width: 400px;
  min-height: 350px;
  max-width: 400px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  background: #fff;
}

#root {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

form {
  width: 100%;
}

h1 {
  display: none;
} */
